  head{ 
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0;
  
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    background-color: #ffffff;
    padding: 30px;
    width: 300px;
    height: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .opciones7 {
  width: 200%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #0d436d;
  }

  .label {
    color: #032d58;
  } 

  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .login-button {
    background-color: #032d58;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .login-container h6 {
    color: #032d58;
  }

  .login-container h4 {
    color: #032d58;
  }

  .warnings{
    width: 200px;
    text-align: center;
    margin:auto;
    color: #b06ab3;
    padding-top: 20px;
  }